apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: default # set namespace here
spec:
  ports:
  - name: "{{ port }}"
    port: {{ port }}
    protocol: TCP
    targetPort: {{ port }}
  selector:
    service: {{ name }}
  sessionAffinity: None
  type: {{ service_type }}